
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dev" class="org.hastycode.Dev" autowire="byName" />
<!--        <property name="com" ref="desk"/>-->
<!--        <property name="age" value="65"/> setter injection-->
<!--        <constructor-arg value="15"/>-->
    <bean id="lap" class="org.hastycode.Laptop" ></bean>
    <bean id="com" class="org.hastycode.Desktop" primary="true"></bean>
</beans>